body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  background-image: url;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding-left: 5%;
}
.card-spaced {
  padding-left: 50px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  width: 28%; /* Adjusted to 28% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  border-radius: 10px;
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prices .valor {
  font-size: 1.5em;
  color: #e74c3c;
}
.prices .valor-normal {
  text-decoration: line-through;
  color: #7f8c8d;
}
.button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button i {
  margin-right: 5px;
}
.ofertas  {
  display: flex;
  gap: 20px;
  
}

.spaced {
  margin-bottom: 20px;
}
.grid {
  display: flex;
  flex-direction: row;
  padding-left: 12%;  
  gap: 20px;
}
.oferta {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-bar {
  background-color: #4b614c;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.slider {
  margin: 0 auto;
  padding-top: 60px;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.slides {
  width: 400%;
  height: 400px;
  display: flex;
  margin-top: 30px;
}
.slides input {
  display: none;
}

.imagem-centralizada {
  align-items: center;
}
.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}
.slide img {
  width: 800px;
}
.manual-navigation {
  position: absolute;
  width: 800px;  
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.manual-btn {
  border: 2px solid #c6b18c;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 20px;
}
.manual-btn:hover {
  background-color: #c6b18c;
}
#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
.navigation-auto div {
  border: 2px solid #c6b18c;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #c6b18c;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #c6b18c;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #c6b18c;
}

h1 {
  text-align: center;
}
.card p {
  text-align: justify

}
.splitter {
  padding-top: 80px;
}
.logo h1 {
  font-family: "Georgia", serif;
  font-size: 2em;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #c6b18c;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #2f4235;
  color: #fff;
}

.hero-text h2 {
  font-size: 2em;
  margin: 0;
}

.hero-text p {
  font-size: 1.2em;
  margin-top: 10px;
}

.highlight {
  color: #c6b18c;
  font-weight: bold;
}

.hero-logo h1 {
  font-size: 6em;
  margin: 0;
  font-family: "Georgia", serif;
}

.services,
.most-wanted {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.service-item {
  background-color: #e6d6d1;
  margin: 15px;
  padding: 20px;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  height: 180px;
}

.service-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.most-wanted h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  color: #2f4235;
}

.most-wanted .highlight {
  color: #c6b18c;
}
